@font-face {
  font-family: "myfont";
  src: url("src/fonts/NBInternationalProBoo.woff2") format("opentype");
  font-weight: normal;
}
.box {
  height: 70vh;
  width: 100%;
  /* margin-bottom: 50px; */
  /* background-color: rgb(197, 219, 219); */
}
.top {
  font-family: "myfont";
  box-sizing: border-box;
  margin: 70px 40px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.box hr {
  margin: 0 40px;
}
.name {
  font-size: 25px;
  font-weight: 100;
}
.top .name sup {
  font-size: 10px;
}
.middle .para {
  letter-spacing: -1;
  margin: 0 30px;
  font-family: "myfont";
  font-size: 62px;
}
