@font-face {
  font-family: "myfont";
  src: url("src/fonts/NBInternationalProBoo.woff2") format("opentype");
  font-weight: normal;
}
.box {
  padding: 0 40px;
  font-family: "myfont";
  /* width: ; */
  height: 665px;
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
}
.text span {
  font-size: 24px;
}
.line {
  width: 100%;
}
.content {
  font-size: 62px;
  line-height: 1.07;
  font-size: 62px;
}
