@font-face {
  font-family: "myfont";
  src: url("src/fonts/NBInternationalProBoo.woff2");
}
.box {
  margin-top: 190px;
  padding: 0 30px;
  font-family: "myfont";
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: column;
}
.title span {
  font-size: 24px;
}
.line {
  width: 100%;
}
.content {
  letter-spacing: -1px;
  line-height: 1.07;
  font-size: 62px;
}
